body{
    color: red;
    background: white;

     margin: 0px;
} 

header{
    border: solid  2px  red;
    padding: 20px;

    font-size: 32px;

    color: black;
}

section{
    background: rgb(226, 9, 9);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
     margin-right: 5%;
}